.kgisllogo{
    max-height: 100px;
    max-width: 200px;
}
.footerbg{
    background-color: linear-gradient(90deg, #5C4FDA 0%, #1C1559 50%, #1C1559 97.12%);

    /* background-color: #291571; */
    color: white;
}
.contactmain{
    font-size: 24px;
    font-weight: 700 !important;
  }
.nav-link{
   cursor: pointer;
}


  