.dmservepart1 {
  background: linear-gradient(180deg, #1C1559 0%, #3C2EBF 38%, #FF0000 100%);
  padding: 40px 0;
  overflow: hidden;
}

.dmservepart1{
    border: linear-gradient(#1C1559 0%, #3C2EBF 38%, #FF0000 100%);
    border-radius: 50%;
    background-color: red;
}






.featurespart .card{
  border: none;
  border-radius: 10px;
  margin: 5px;
  height: 160px;
  color: #ffffff;
  background: linear-gradient(90deg, rgba(28, 21, 89, 0.6) 0%, rgba(60, 46, 191, 0.6) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
}

@media (min-height:426px) and (max-height:769px){
  .featurespart .card{
    height: 250px !important;
  }
}