.dmheading{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0rem;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #1C1559 15.39%, #3C2EBF 42.31%, #ED1C24 58.76%);
  background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}