.services{
    width: 100%;
    height: 1610px;
    background-color: #f8f9fc;
    padding-top: 100px;
}
.Rectangle5{
width: 514;
opacity: 1;
padding: 30px;
background: linear-gradient(90deg, #5C4FDA 0%, #1C1559 63.94%);
color:rgba(255, 255, 255, 1);
text-align: center;
}
.Rectangle5 h1{
font-size: 70px;
font-weight: 600;
font-family: 'Poppins';
}
.erp-section h2{
  margin-top: 50px;  
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 20px;
  left:49px ;

  /* Gradient Text */
  background: linear-gradient(90deg, #1C1559 15.39%, #3C2EBF 42.31%, #ED1C24 80.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  display: inline-block; /* gradient only over text */
}
.erp-image img {
 display: inline;
  position: relative;
  width: 411px;
  height: 299px;
  left:60px ;
  object-fit: cover;
  border-radius: 10px;

}
.erp-image,.erp-text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.erp-text h3{
    
  margin-top: -580px;
  width: 869px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-style: normal;
  font-size: 32pxpx;
  line-height: 100%;
  letter-spacing: 0;
  left:500px ;

  /* Gradient Text */
  background: linear-gradient(90deg, #1C1559 15.39%, #3C2EBF 42.31%, #ED1C24 80.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
 white-space: nowrap;
  display: inline-block; /* gradient only over text */
}
.erp-text p{
  margin-top: -350px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600px;
  line-height: 1.8;
  color: #444;
  width: 96%; 
  background: linear-gradient(90deg, #1C1559 0%, #3C2EBF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
  left:-70px ;
}
.btn2{
  width: 250px;
  top: -60px;
  position: relative;
  left: 500px;
  height: 60px;
  opacity: 1;
  border-radius: 60px;
  border: 8px solid transparent; /* important for gradient border */

  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #3C2EBF 16.82%, #ED1C24 100%) border-box;

  color: #1C1559;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  
}




.it-section h2{
  margin-top: 50px;  
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 20px;
  right:-1240px ;

  /* Gradient Text */
  background: linear-gradient(90deg, #1C1559 15.39%, #3C2EBF 42.31%, #ED1C24 80.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  display: inline-block; /* gradient only over text */
}
.it-image img {
 display: inline;
  position: relative;
  width: 411px;
  height: 299px;
  right:-1070px ;
  object-fit: cover;
  border-radius: 10px;
  margin-top: -300px;
  

}
.it-image,.it-text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.it-text h3{
    
  
  margin-top: -200px;
  width: 869px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  left: 400px;
  

  /* Gradient Text */
  background: linear-gradient(90deg, #1C1559 15.39%, #3C2EBF 42.31%, #ED1C24 80.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
 white-space: nowrap;
  display: inline-block; /* gradient only over text */
}
.it-text p{
  margin-top: 50px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600px;
  line-height: 1.8;
  color: #444;
  width: 96%; 
  background: linear-gradient(90deg, #1C1559 0%, #3C2EBF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
  left:-400px ;
}
.btn3{
  width: 250px;
  top: -20px;
  position: relative;
  left: 800px;
  height: 60px;
  opacity: 1;
  border-radius: 60px;
  border: 8px solid transparent; /* important for gradient border */

  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #3C2EBF 16.82%, #ED1C24 100%) border-box;

  color: #1C1559;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  
}


.dg-section h2{
  margin-top: 60px;  
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  /* line-height: 100%; */
  line-height: 1.8;
  letter-spacing: 0;
  margin-bottom: 20px;
  width: 480px;
  left:49px ;


  /* Gradient Text */
  background: linear-gradient(90deg, #1C1559 15.39%, #3C2EBF 42.31%, #ED1C24 80.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  display: inline-block; /* gradient only over text */
}
.dg-image img {
 display: inline;
  position: relative;
  width: 411px;
  height: 299px;
  left:60px ;
  object-fit: cover;
  border-radius: 10px;
  margin-top: -20px;

}
.dg-image,.dg-text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.dg-text h3{
    
  margin-top: -560px;
  width: 870px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-style: normal;
  font-size: 32px;
  /* line-height: 100%; */
   line-height: 1.8;
  letter-spacing: 0;
  left:500px ;

  /* Gradient Text */
  background: linear-gradient(90deg, #1C1559 15.39%, #3C2EBF 42.31%, #ED1C24 80.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
 white-space: nowrap;
  display: inline-block; /* gradient only over text */
}
.dg-text p{
  margin-top: -320px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600px;
  line-height: 1.8;
  color: #444;
  width: 96%; 
  background: linear-gradient(90deg, #1C1559 0%, #3C2EBF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
  left:-200px ;
}
.btn2{
  width: 250px;
  top: -60px;
  position: relative;
  left: 500px;
  height: 60px;
  opacity: 1;
  border-radius: 60px;
  border: 8px solid transparent; /* important for gradient border */

  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #3C2EBF 16.82%, #ED1C24 100%) border-box;

  color: #1C1559;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  
}

